!!!
%html
  %head
    %meta{charset: "UTF-8"}/
    %meta{content: "text/html; charset=UTF-8", "http-equiv": "Content-Type"}/
    %meta{content: "width=device-width, initial-scale=1", name: "viewport"}/
    %title= current_page.data.title || "Middleman"
    = stylesheet_link_tag 'normalize'
    = stylesheet_link_tag 'typebase'
    = stylesheet_link_tag 'style'
  %body
    = yield
    %footer
      %p= current_page.data.footer || "Some random copyright"
      #license.cc
        Except where otherwise noted, this website is licensed under a
        %br/
        %a{href: "http://creativecommons.org/licenses/by/3.0/deed.en_US",
        rel: "license"}
          Creative Commons Attribution 3.0 Unported License
